{
  "presets": [
		"@babel/preset-env",
		"@babel/preset-react"
	],
	"plugins": [
		"lodash",
		[
				"transform-semantic-ui-react-imports", {
						"convertMemberImports": true,
						"importType": "es",
						"addCssImports": false,
						"importMinifiedCssFiles": false,
						"addLessImports": false,
						"addDuplicateStyleImports": false
				}
		]
]
}