@import "~modern-normalize";
@import "./variables";
@import "./mixins";
@import "./animation";

.grid {
	min-height: 100vh;
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-auto-rows: minmax(100px, auto);
	grid-template-rows: auto 1fr;
	grid-template-areas:
		"head head head head"
		"main main main main"
		"foot foot foot foot";

	[title] {
		cursor: help;
	}
}

.global-menu {
	grid-area: head;
	max-width: 1200px;
	width: 100%;
	z-index: 40;
	margin: 0 auto;
	position: relative;

	.ui.menu {
		box-shadow: none;
		border-radius: 0;

		.item:hover, .item:focus, .item.active {
			+.ui.menu {
				display: flex;
				z-index: 45;
				.ui.menu {
					position: absolute;
				}
			}
		}
		.ui.menu {
			&:hover, &:focus, &:active {
				display: flex;
				z-index: 45;
			}
			display: none;
			position: absolute;
			top: 45px;
			left: 50%;
			transform: translateX(-50%);
			height: 50px;
			max-width: 1200px;
			width: 100vw;
			.ui.menu {
				top: 45px;
			}
		}
	}
}

.ui.page-not-found {
	opacity: 0;
	animation: fade-in 500ms ease 150ms;
	animation-fill-mode: forwards;
	padding-top: $spacing;
	text-align: center;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}


main {
	overflow: hidden;
	grid-area: main;
	width: 100%;
	padding: 30px;
	margin: 0 auto;
	opacity: 0;
	animation: fade-in 250ms linear;
	animation-fill-mode: forwards;
}

.row {
	display: flex;
	justify-content: space-between;
	width: auto;
	max-width: cacl(100% + #{$spacing});
	flex-wrap: wrap;
	margin-right: -$spacing;
	&:empty {
		display: none;
	}

	@include mobile {
		+.row {
			margin-top: 0;
		}
		flex-direction: column;
	}
}

.col {
	flex: 1;
	justify-content: space-between;
	max-width: 100%;
	padding-top: $spacing;
	padding-right: $spacing;

	+.col {
		padding-right: $spacing;
	}
}

.footer {
	grid-area: foot;
}

.ui.text.rich-content {
	max-width: 100%;
	margin-right: 0 !important;
	margin-left: 0 !important;
}

.loader {
	opacity: 0;
	animation: fade-in 200ms linear 300ms;
	animation-fill-mode: forwards;
	color: green;
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	svg {
		scale: 1.5;
	}
}

.youtube-video {
	height: $min-video-height;
	&.full-height {
		background-size: 180%;
		height: 100%;
		min-height: $min-video-height;
		@include tablet {
			background-size: 250%;
		}
	}
	&.yt-lite {
		@include mobile {
			background-size: 180%;
		}
		&:before { content: none; }
	}
}

.ui.spot {
	min-height: 100%;
	height: 100%;
	width: 100%;
	overflow: hidden;
	z-index: 1;

	img {
		object-fit: cover;
		object-position: center;
	}

	.price {
		margin-top: $spacing / 2;
	}

	.description {
		height: auto;
		max-height: calc(100% - #{$min-spot-height});
		min-height: $min-spot-height;
	}

	>.content {
		height: 100%;
		min-height: $min-spot-height;
		.meta {
			width: calc(100% - #{$spacing * 2});
			bottom: $spacing;
			@include tablet {
				position: absolute;
			}
		}
		a {
			display: block;
			margin-top: 5px;
		}
		.description {
			max-height: calc(100% - #{$min-spot-height});
		}
	}

	&.has-background {
		background: grey;
		min-height: $min-spot-height + 100px;
		height: 100%;
		overflow: hidden;
		&:before {
			content: '';
			height: 40%;
			width: 100%;
			background: linear-gradient(to bottom, rgba(0,0,0,0.45), rgba(0,0,0,0));
			position: absolute;
			z-index: -1;
			@include mobile {
				height: 60%;
			}
		}
		.header {
			color: white;
		}
		>.content {
			padding: $spacing;
			color: white;
			.header, .description > span  {
				text-shadow:  rgba(0,0,0,0.45) 0px 0px 10px;
			}
			> * {
				a {
					display: block;
					color: inherit;
					&:hover {
						color: lightblue;
					}
				}
				color: inherit;
			}
		}
	}
}

.ui.image.spot-background {
	height: 100%;
	width: 100%;
	position: absolute;
	top: 0;
	left: 0;
	z-index: -2;
	pointer-events: none;
	-webkit-user-drag: none;
	user-select: none;
}

.ui.header.page-heading {
	font-size: 2.5rem;
	font-weight: 600;
}

.product-list-filter {
	.ui.segment:first-of-type .header {
		margin-top: $spacing / 2;
	}
}